ClientApplication/Service References/NHLServiceReference1/NHLService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NHLService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NHLService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMatchData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchData" nillable="true" type="tns:MatchData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchData" nillable="true" type="tns:ArrayOfMatchData" />
  <xs:complexType name="MatchData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Goal1" type="xs:int" />
      <xs:element minOccurs="0" name="Goal2" type="xs:int" />
      <xs:element minOccurs="0" name="Team1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Team2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchData" nillable="true" type="tns:MatchData" />
  <xs:complexType name="ArrayOfGlobalResults">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GlobalResults" nillable="true" type="tns:GlobalResults" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGlobalResults" nillable="true" type="tns:ArrayOfGlobalResults" />
  <xs:complexType name="GlobalResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumberOfWins" type="xs:int" />
      <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GlobalResults" nillable="true" type="tns:GlobalResults" />
</xs:schema>