ClientApplication/Service References/NHLServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NHLService" />
  <xs:element name="GetAllMatches">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NHLService" minOccurs="0" name="GetAllMatchesResult" nillable="true" type="q1:ArrayOfMatchData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResults">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NHLService" minOccurs="0" name="GetAllResultsResult" nillable="true" type="q2:ArrayOfGlobalResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>