ClientApplication/Service References/NHLServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NHLStatService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/NHLService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INHLStatService_GetAllMatches_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMatches" />
  </wsdl:message>
  <wsdl:message name="INHLStatService_GetAllMatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="INHLStatService_GetAllResults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResults" />
  </wsdl:message>
  <wsdl:message name="INHLStatService_GetAllResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResultsResponse" />
  </wsdl:message>
  <wsdl:portType name="INHLStatService">
    <wsdl:operation name="GetAllMatches">
      <wsdl:input wsaw:Action="http://tempuri.org/INHLStatService/GetAllMatches" message="tns:INHLStatService_GetAllMatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INHLStatService/GetAllMatchesResponse" message="tns:INHLStatService_GetAllMatches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllResults">
      <wsdl:input wsaw:Action="http://tempuri.org/INHLStatService/GetAllResults" message="tns:INHLStatService_GetAllResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INHLStatService/GetAllResultsResponse" message="tns:INHLStatService_GetAllResults_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INHLStatService" type="tns:INHLStatService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMatches">
      <soap:operation soapAction="http://tempuri.org/INHLStatService/GetAllMatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllResults">
      <soap:operation soapAction="http://tempuri.org/INHLStatService/GetAllResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NHLStatService">
    <wsdl:port name="BasicHttpBinding_INHLStatService" binding="tns:BasicHttpBinding_INHLStatService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/NHLService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>